@media only screen and (max-width: 1200px){


/*------------------------------------------------*/
/*                 HOME PAGE QUERIES              */
/*------------------------------------------------*/ 

    .section-introduction h1{
        font-weight: 400;
        font-size: 140%;
    }

    .long-copy{
        font-size:90%;
    }

    .section-introduction h2{
        font-weight: 300;
        font-size:125%;
    }

    .section-introduction p{
        font-size: 85%;
    }

    .section-introduction img{margin: 36px 0;}
    

    .section-coding h1{
        font-weight: 400;
        word-spacing: 3px;
        letter-spacing: 2px;
        margin: 0 40px;
        font-size: 120%;
    }

    .section-coding .col-50{margin: 24px 20px;}
        

    .coding-btn:link,
    .coding-btn:visited{
    font-size:80%;
    font-weight: 400;
    }

    .section-contact-me h1{
      font-weight: 400;
    }

    .section-contact-me h2{
        font-weight: 400;
        margin: 20px 0;
        font-size:90%;
    }

    .section-contact-me p{font-size:85%;}

    .btn:link, .btn:visited{margin: 24px 0;}

    .section-contact-me img{
        width:100%;
        height:125%;
    }

/*------------------------------------------------*/
/*               RESUME PAGE QUERIES              */
/*------------------------------------------------*/ 


.resume-container{
    max-width: 90%;
}

}



@media only screen and (max-width: 1063px){

/*------------------------------------------------*/
/*               RESUME PAGE QUERIES              */
/*------------------------------------------------*/ 

.resume-container{
    font-size:92%;
}

.resume-container h2{
    font-size: 125%;
}

.resume-container h3{
    font-size: 100%;
}

.section-personal-info .col-25,
.section-personal-info .col-75{
    font-size: 80%;
}

}



/*--681px to 847px*/
@media only screen and (max-width: 848px){

    

    .section-coding .row:last-child .col-50{
        width:100%;
        margin: 16px 0;
    }

    .section-contact-me img{
        margin: 32px 0;
    }

    .main-navi{display:inline-block;}

    .footer-navi li {
        margin: 0;
    }
}




@media only screen and (max-width: 776px){
    .main-navi{
        display:none;
     }

    .main-navi{
        float:left;
        margin-top: 30px;
        margin-left: 16px;
    }

    .main-navi li{ 
        display:block;
        padding: 8px 0;
    }
    
    .main-navi li a:link,
    .main-navi li a:visited{padding: 10px 0;}

    .mobile-navi{
        display: block;
    }

    .section-contact-me img{
        margin: 40px 0;
    }

    .resume-container{
        font-size:82%;
    }
    
}



@media only screen and (max-width: 680px){


/*------------------------------------------------*/
/*               RESUME PAGE QUERIES              */
/*------------------------------------------------*/ 
    .col-50{width:100%;}
    
    .skill-row .col-35{display:none;}

    .skill-row .col-50{display: block;}

    .skill-row .col-50:last-child{padding-bottom:16px;}

    
    
    .footer-navi{width:60%;}
    footer .col-75{width:40%;}
    footer .col-25{width:40%;}
    .footer-navi li{
        display:block;
        padding: 8px 0;}
    
}
