<%- include('../partials/header') %>

<section>
<div class="row">
    <h1> Templates </h1>
</div>

<div class="row">
    <p>View some custom templates!</p>
</div>

<a class="template-link" href="#">
    <div class="row">
        <div class="col-50 template-container">
            
            <img class="template-img" src="/imgs/template-A-ScreenShot.png">
            <h3 class="template-title">Home Page - Custom </h3>
            <p class="template-desc"> This templates uses all custom CSS and JS to achieve a very easy to navigate home page with some basic animations.</p>
        </div>
    </div>
</a>

<a class="template-link"> 
    <div class="row">
        <div class="col-50 template-container">
         
            <img class="template-img" src="/imgs/Template-B-ScreenShot.png">
            <h3 class="template-title">Resume Page</h3>
            <p class="template-desc"> This template uses the header and footer from the previous template, but the main content is laidout just like a resume you'd write up!</p>
        </div>
    </div>
</a>

<a class="template-link">
    <div class="row">
        <div class="col-50 template-container">
            <img class="template-img" src="/imgs/Template-C-ScreenShot.png">
            <h3 class="template-title">Home Page - BS3</h3>
            <p class="template-desc"> A very quick template that's broken down into multiple sections using BootStrap3's grid system.</p>
        </div>
    </div>
</a>
</section>


<%- include('../partials/footer') %> 