<%- include("partials/header") %>



<section class="section-intro">
    <div class="row ">
        <h2>Looking to get into business and programming</h2>
    </div>
    <div class="row">
        <p>Build responsive and fluid website.</p>
    </div>

    <div class="row">
        <div class="col-50">
            
            <img src="/imgs/index-img-A-grayscale.png">
        </div>
        <div class="col-50">
            <h1> Business Entrepreneur</h1>
            <p>Constantly developing my knowledge & skills to achieve my goal of opening my own business. In today's world learning to adapt and innovate is a strict requirement to break into any industy no matter what it is.</p>
        </div>
    </div>
</section>


<!-- Middle banner stripe section -->
<section class="banner-stripe">
    <div class="row fade-in">
        <h1>Take a gander at some of my various coding projects. Keep in mind these are from different points in my education and personal. </h1>
   
    </div>
    <div class="row fade-in">
        <div class="col-50 single">

            <h3>Templates</h3>
            <p>These are just some basic templates that I made using different front-end framworks.</p>
            <a class="btn btn-stripe" href="#"> Templates</a>
           
        </div>
        <div class="col-50 single">
            <h3>Personal projects</h3>
            <p>Personal projects that I am currently working on. These are just code snippets.</p>
            <a class="btn btn-stripe" href="#">Personal Projects</a>
        </div>
    </div>
</section>

<section class="section-call-to-action">
    <div class="row fade-in">
        <h1>One click away &mdash; Easy contact via e-mail</h1>
    </div>
    <div class="row fade-in">
        <div class="col-50">
            <h2>Design a website that meets your needs!</h2>
            <p>No matter what your vision may be, I can help make the website that showcases your brand the best.</p>
            <a href="#" class="btn">Contact me</a>
        </div>
        <div class="col-50">
            <img src="/imgs/index-img-A.png">
        </div>
    </div>
</section>


<%- include("partials/footer") %>