<%- include("partials/header") %>



<section class="section-intro">
    <div class="row ">
        <h2>Looking to get into business and programming</h2>
    </div>
    <div class="row">
        <p>You can replace this placeholder text with whatever you want.</p>
    </div>

    <div class="row">
        <div class="col-50">
            
            <img src="/imgs/index-img-A-grayscale.png">
        </div>
        <div class="col-50">
            <h1> Heading placeholder text</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Asperiores provident quos perferendis temporibus hic odit explicabo dolore quibusdam quae. Dolorum laudantium eaque architecto itaque repellat sequi eius at dolor esse voluptates impedit enim, voluptatibus consequuntur tempore odio! Totam nobis fuga accusantium voluptate error laborum! Perspiciatis veritatis placeat quos expedita in!</p>
        </div>
    </div>
</section>


<!-- Middle banner stripe section -->
<section class="banner-stripe">
    <div class="row fade-in">
        <h1>This heading here is used to draw the attention to the viewer and link to anything that is important with the below buttons. </h1>
   
    </div>
    <div class="row fade-in">
        <div class="col-50 single">

            <h3>Important Item 1</h3>
            <p>Breif description about what the item is looking to do.</p>
            <a class="btn btn-stripe" href="#"> Important Item 1</a>
           
        </div>
        <div class="col-50 single">
            <h3>Important Item 2</h3>
            <p>Breif description about what the item is looking to do. This can even be on multiple lines. Plenty of space and formatting</p>
            <a class="btn btn-stripe" href="#"> Important Item 2</a>
        </div>
    </div>
</section>

<section class="section-call-to-action">
    <div class="row fade-in">
        <h1>Call to action heading - Link to contact info</h1>
    </div>
    <div class="row fade-in">
        <div class="col-50">
            <h2>Heading to request a call to action!</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellendus fuga laborum laudantium cum sed minus.</p>
            <a href="#" class="btn">Contact me</a>
        </div>
        <div class="col-50">
            <img src="/imgs/index-img-A.png">
        </div>
    </div>
</section>


<%- include("partials/footer") %>