<%- include("partials/header") %>


<section class="resume-section">

    <div class="resume-container">

        <div class="resume-header">

            <h2 class="resume-name">Robert Wright</h2>
            <h3 class="resume-role-title">Web-Developer </h3>

        </div>

        <!-- Resume statement -->
        <div class="row resume-objective">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas, ex minus. Aliquid cupiditate, porro vel repudiandae doloribus quisquam. Veniam enim aspernatur consectetur rem soluta alias eveniet id, fugiat deleniti laboriosam fugit sed ipsum accusantium, tenetur architecto. Blanditiis magnam quos vitae? Rerum nesciunt ipsam, cum ullam consectetur tempora fugit cupiditate deserunt?</p>
        </div>

        <div class="row">
            <h2 class="resume-heading">Experience</h2>
        </div>


        <!-- Experience Section -->
        <div class="row">
            <div class="col-25">
                <h4 class="time-stamp">(from Year) &mdash; (to Year)</h4>
            </div>
            <div class="col-75">
                <h3>(Position)</h3>
                <h5 class="employer">(Employer Name)</h5>
                <ul>
                    <li>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam ea magni eveniet voluptates cumque autem, aut consectetur molestiae corrupti doloribus aliquid repudiandae ab, minima, non est unde qui labore quas!
                    </li>
                    <li>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci quod impedit architecto commodi non sed dolor! Harum temporibus repellat exercitationem molestiae beatae atque dolorum praesentium velit ut. Quidem, sed qui.
                    </li>
                    <li>
                       Lorem ipsum dolor sit amet consectetur adipisicing elit. At quod inventore ipsam velit qui delectus rerum? Tempora, aspernatur soluta ullam vel nemo aperiam quasi eum consequuntur, quod, dolor error quas?
                    </li>
                    <li>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque architecto quo sed in officia aliquam adipisci distinctio tempora accusamus sit cum soluta, labore nostrum rem modi optio ea debitis eius?</li>
                    <li>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat doloribus velit, incidunt at dicta nesciunt impedit eum ex voluptas esse fuga explicabo nihil archiContactt amet consectetur adipisicing elit. Consectetur officia cupiditate esse fugiat vitae facere, culpa at laboriosam, omnis veritatis nesciunt sit blanditiis tempora quas eveniet, possimus similique architecto maxime.
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <h4 class="time-stamp">(from Year) &mdash; (to Year)</h4>
            </div>
            <div class="col-75">
                <h3>(Position)</h3>
                <h5 class="employer">(Employer Name)</h5>
                <ul>
                    <li>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Debitis modi blanditiis hic atque vitae labore?
                    </li>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores officia magni perferendis aliquid!</li>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore.</li>
                    <li>Lorem ipsum dolor sit amet.</li>
                </ul>
            </div>
        </div>

        <!-- Education -->
        <div class="row">
            <h2 class="resume-heading">Education</h2>
        </div>
        <div class="row">
            <div class="col-25">
                <h4 class="time-stamp">(from Year) &mdash; (to Year)</h4>
            </div>
            <div class="col-75">
                <h3>(University Name)</h3>
                <h5 class="degree">(Degree level e.g. minor, bachelors) &mdash; (Discipline)</h5>
                <ul>
                    <li>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius aut neque perspiciatis error nisi itaque consectetur impedit voluptate temporibus nobis?
                    </li>
                    <li>
                       Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea beatae nostrum est ad tempora dolor.
                    </li>
                    <li>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere suscipit labore quasi eos nulla totam.
                    </li>
                    <li>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit explicabo aspernatur voluptates ab, eos quidem!
                    </li>
                </ul>
            </div>
        </div>

        <!-- Certifications and licences -->
        <div class="row">
            <h2 class="resume-heading"> Certifiations & Licenses</h2>
        </div>
        <div class="row">
            <div class="col-25">
                <div>
                    <img class="cert-badge" src="imgs/PMI-badge.jpeg"/>
                </div>
            </div>
            <div class="col-75">
                <h3>(Name Of Certification)</h3>
                <h3>(Time stamp if applicable)</h3>
            </div>
        </div>
        <div class="row">
            <h2 class="resume-heading"> Skills</h2>
        </div>
        

        <!-- Skills section -->
        <div class="row skill-row">
            <div class="col-33">
                <ul>
                    <li>Item 1</li>
                    <li>Item 2</li>
                    <li>Item 3</li>
                    <li>Item 4</li>
                    <li>Item 5</li>
                </ul>
            </div>
            <div class="col-33"> 
                <ul>
                    <li>Item 1</li>
                    <li>Item 2</li>
                    <li>Item 3</li>
                    <li>Item 4</li>
                    <li>Item 5</li>
                </ul>
            </div>
            <div class="col-33">
                <ul>
                    <li>Item 1</li>
                    <li>Item 2</li>
                    <li>Item 3</li>
                    <li>Item 4</li>
                    <li>Item 5</li>
                </ul>
            </div>
        </div>

        <!-- Personal information -->
        <div class="row">
            <h2 class="resume-heading"> Personal Information</h2>
        </div>
        <div class="row">
            <div class="col-25">
                <h3>Phone Number</h3>
            </div>
            <div class="col-75">
                <p><i class="ion-ios-telephone"></i>***-***-****</p>
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <h3> E-mail</h3>
            </div>
            <div class="col-75">
                <p><i class="ion-ios-email"></i>(example@gmail.com) </p>
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <h3>Website</h3>
            </div>
            <div class="col-75">
                <p><i class="ion-ios-world"></i>(www.example.com)</p>
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <h3>Git Hub</h3>
            </div>
            <div class="col-75 resume-social-link">
                <p><i class="ion-social-github"></i><a href="#"> (Insert github link)</a></p>
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <h3>LinkedIn</h3>
            </div>
            <div class="col-75 resume-social-link">
                <p><i class="ion-social-linkedin"><a href="#"></i>(Insert github link)</p></a>
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <h3>Facebook</h3>
            </div>
            <div class="col-75 resume-social-link">
                <p><i class="ion-social-facebook"><a href="#"></i>(Insert Facebook Link)</p></a>
            </div>
        </div>
    </div>



</section>



<%- include("partials/footer") %>