<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <title>Robert Wright - Template 1</title>
</head>
<body>
    
    <!-- Header & Navbar -->
    <header>
        <nav>
            <div class="row">
               <img class="profile-picture" src="imgs/Portrait_Placeholder.png">
                <ul class="navbar">
                    <li><a href="">link-1</a></li>
                    <li><a>link-2</a></li>
                    <li><a>link-3</a></li>
                    <li><a>link-4</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <section>
        <h1>This is the second section </h1>
    </section>

</body>
</html>