.banner{
    
    background-color: rgba(0, 0, 0, 0.90);
    justify-content: center;
    padding: 40px 0;
    color:white;
}

.heading{
    font-weight: bold;
    word-spacing: 4px;
    letter-spacing: 3px;
    line-height: 1.5em;
    margin-bottom: 16px;
    padding: 0 40px;
    text-align: center;
    font-size:150%;
}


@media only screen and (max-width: 767px){
    .heading{
     
    }
}