<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="row">
            <nav>
               <img id="mainProfilePicture" class="profile-picture" src="imgs/Portrait_Placeholder.png">
                <ul class="navbar">
                    <li><a href="">link-1</a></li>
                    <li><a href="">link-2</a></li>
                    <li class="dropdown"><a  href="#">Drop Down<i class="ion-arrow-down-b"></i></a>
                        <div class="dropdown-container">
                            <ul class="dropdown-navi">
                                <li><a href="templates.html">Drop Item 1</a></li>
                                <li><a>Drop Item 2</a></li>
                                <li><a>Drop Item 3</a></li>
                            </ul>
                        </div>
                    </li>
                    <li><a href="">link-4</a></li>
                </ul>
                <a class="mobile-navi  js--mobile-navi-icon"><i class="ion-navicon-round"></i></a>
            </div>

            <div class="fixed-mob-nav js--navbar">
                <nav>
                    <ul>
                        </li><img class="profile-picture profile-picture-mob" src="imgs/Portrait_Placeholder.png">
                        <li><a>Mob Link 1</a></li>
                        <li><a>Mob Link 2</a></li>
                        <li><a>Mob Link 3</a></li>
                        <li><a>Mob Link 4</a></li>
                    </ul>
                </nav>
            </div>
        </nav>
    </header>