<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="vendors/css/ionicons.min.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous"> 
    <link rel="stylesheet" href="styles.css">
    <title>Document</title>
</head>
<body>
    
    <nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Brand</a>
          </div>
      
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
              <li><a href="#">Link</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">One more separated link</a></li>
                </ul>
              </li>
            </ul>
         
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#">Link</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                </ul>
              </li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
        </div>
      </nav>
      <div class="jumbotron">
        <div class="container">
            <h2>This is where you put the most important service you offer</h2>
            <button class="btn btn-lg btn-info">Action Link</button>
            <h3>Another small catch phases!</h3>
        </div>
    </div>

        <!-- Main content -->
        <section>
            <div class="container">
                <div class="row display-flex">
                    <div class="col-xs-3">
                        <div class="thumbnail">
                            <img src="https://images.unsplash.com/photo-1546743991-422abed7a695?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60">
                            <div class="caption">
                                <h2>Thumbnail 1</h2>
                                <p>Put some breif description in here to drawn the users attention!</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="thumbnail">
                            <img src="https://images.unsplash.com/photo-1546656651-e564d05a4740?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60">
                            <div class="caption">
                                <h2>Thumbnail 2</h2>
                                <p>Put some breif description in here to drawn the users attention!</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-3 ">
                        <div class="thumbnail">
                            <img src="https://images.unsplash.com/photo-1546507257-0bddab98fe3c?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60">
                            <div class="caption">
                                <h2>Thumbnail 3</h2>
                                <p>Put some breif description in here to drawn the users attention!</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="thumbnail">
                            <img src="https://images.unsplash.com/photo-1547296853-e2ead7f545ea?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60">
                            <div class="caption">
                                <h2>Thumbnail 4</h2>
                                <p>Put some breif description in here to drawn the users attention!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="container-fluid banner">
                <div class="row">
                    <h1> This is a banner made using Bootstrap3.</h1>
                </div>
                <div class="row ">
                    <div class="col-md-4 col-md-offset-2">
                        <h1> This is a banner made using Bootstrap3.</h1>
                        <h3>    Breif text about something important</h3>
                        <button class="btn btn-small btn-success">Call to Action Btn</button>
                    </div>
                    <div class="col-md-4">
                        <h1> This is a banner made using Bootstrap3.</h1>
                        <h3>    Breif text about something important</h3>
                        <button class="btn btn-small btn-success">Call to Action Btn</button>
                    </div>
                </div>
            </div>
        </section>

            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-md-offset-2">
                       <img class="phone-app"src="https://images.unsplash.com/photo-1505156868547-9b49f4df4e04?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
                    </div>
                    <div class="col-md-6">
                        <h2 class="app-heading">Brief blub on what app does!</h2>
                        <h3 class="features-heading"> Easy as 1&#x2026;2&#x2026;3, with these quick features! </h3>
                            <div class="features-box">
                                <div class="feature-item">
                                    <div>1</div>
                                    <p>Breif description of the First Feature! Keep it short!</p>
                                </div>
                            </div>
                            <div class="features-box">
                                 <div class="feature-item">
                                    <div>1</div>
                                    <p>Breif description of the Second Feature! Make it a good one, it matters!</p>
                                 </div>
                            </div>
                            <div class="features-box">
                                <div class="feature-item">
                                   <div>1</div>
                                   <p>Breif description of the Third Feature! Be sure to leave an impression. You want them to download it!</p>
                                </div>
                           </div>
                           <div class="row">
                                <div class="col-md-offset-4">
                                    <img class="btn-download-app" src="vendors/img/download-app-android.png">
                                    <img class="btn-download-app" src="vendors/img/download-app.svg">
                                </div>
                                <p>Display purposes only, no actual app to download.*</p>
                           </div>
                       </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="signup">
            <div class="container">
                <form>
                    <div class="form-group">
                      <label for="exampleInputEmail1">Email address</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1">Password</label>
                      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    </div>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox"> Newsletter checkbox
                      </label>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
            </div>
        </section>

        <footer>
            <div class="">

                <div class="row">
                    <div class="centered">
                        <ul>
                            <li><a>Link 1</a></li>
                            <li><a>Link 1</a></li>
                            <li><a>Link 1</a></li>
                            <li><a>Link 1</a></li>
                            <li><a>Link 1</a></li>
                        </ul>
                    </div>
               </div>
               <div class="row centered">

                <div class="social-container">
                    <ul class="social-links">
                        <li><a href="#"><i class="ion-social-linkedin"></i></a></li>
                        <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                        <li><a href="#"><i class="ion-social-github"></i></a></li>
                    </ul>
                </div>
                <p class="copyright"> Copyright © 2020 by Robert Wright. All rights reserved.</p>
               </div>
            </div>


            
        </footer>
 
    <script src="vendors/js/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>

</body>
</html>